<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <app-side-nav></app-side-nav>
  <a style="padding-left: 10px;" class="navbar-brand" routerLink='/home'>SysParking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/home'>Home <span class="sr-only">(current)</span></a>
      </li>
      <div class="nav-item">
        <a class="nav-link" routerLink='/home/parking-register' skipLocationChange>Registro de estacionamento</a>
      </div>
    </ul>
    <a class="nav-link">Bem vindo(a) {{user?.sub}}</a>
    <button (click)="logout()"class="btn btn-outline-success my-2 my-sm-0">Logout</button>
    <div style="padding-right: 10%;"> </div>
  </div>
</nav>
